 .card{
    width: 1fr;
    max-height: auto;
    background-color: #FFFFFF;
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 10px 10px 10px 10px ;
    overflow: hidden;
    .image-container{
        overflow: hidden;
        max-height: 75%;
        
        .image{
            width:100%;
            transition: .5s;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .body-container{
        padding: 16px 24px 24px;
        p{
            font-family: 'Helvetica', sans-serif;
        }
        
        .header{
            display: block;
            font-weight: 700;
            margin: 0px 0px 8px;
            font-size: 1.25rem;
        }
        
        .summary{
            color: #A4A9AF ;
            font-size: small;
            margin-bottom: 0px;
        }
        
        .bottom{
            display: flex;
            font-size: 12px;
            justify-content: space-between;
            margin: 16px 0px 0px;
            color: #A4A9AF;
            .theRedBullBulletin{
                max-height: 20px;
            }

        }
    }
        
 }