.content-layout{
    // justify-content: space-around;
    margin: 0px 0px 0px 64px;
    padding: 68px 0px 40px;
}
.title{
    margin: 0px 0px 0px 64px;
    font-weight: 700;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    height: 2em;
}
.card-feed{
    position: relative;
    display: flex;
    justify-content: space-around;
    // padding-left: 18rem;
    // have to decrease space between cards somehow
    // justify-content: center;
    // justify-content: space-around;
    
    .content-grid{
        grid-row-gap: 32px;
        gap: 24px;
    // column-gap: ;
    // display:flexbox;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    // grid-template-columns: 1fr;
    margin: 0px 0px 24px 64px;
    // margin-bottom: 32px;
    // margin-left: 16px;
}
}