.container{
    left: -7px;
    top: -7px;
    position: relative;
    width: calc(100% + 14px);
    .imageCarousel{
        display: block;
        .img{
            left: -7px;
            top: -7px;
            position: relative;
            height: calc(100% + 14px);
            width: calc(100% + 14px);
            filter: grayscale(20%);

            }
    }

    // .event{
    //     height: calc(100% + 14px);
    //     font-size: 16px;
    // }
    // .title{
    //     font-size: 60px;
    // }
    // h2{
    //     font-family: Arial, Helvetica, sans-serif;
    //     color: #FFFFFF;
    // }
    // .btn{
    //     background-color: #DB0A40;
    //     border: 1px solid #DB0A40;
    //     border-radius: 25px 25px 25px 25px;
    //     border-width: 2px;
    //     height: 48px;
    //     width: 225px;
    //     padding: 0px 24px;
    //     font-family: Arial, Helvetica, sans-serif;
    //     color: #FFFFFF;
    // }
    // .imageCarousel{
    //     display: block;
    // // background-image: url(https://img.redbull.com/images/c_crop,x_0,y_249,h_1600,w_4000/c_fill,w_1920,h_768/q_auto,f_auto/redbullcom/2022/12/19/ekjjmprxxjg331pztsu3/red-bull-scrable-series);
    // // background-size:cover;
    // background-repeat: no-repeat;
    // margin-right: 0px;
    // overflow: hidden;
    // }
}