.container{
// max-width: fit-content;
// max-height: 47rem;
.imageCarousel{
    // display: block;
    background-image: url(https://img.redbull.com/images/c_crop,x_0,y_382,h_1334,w_4000/c_fill,w_2560,h_776/q_auto,f_auto/redbullcom/2022/12/19/ekjjmprxxjg331pztsu3/red-bull-scrable-series);
    background-size:cover;
    background-repeat: no-repeat;
    margin-right: 0px;
    width:100%;
    padding-top:47em ;
    overflow: hidden;
    filter: grayscale(20%);
    }
}